.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.search-wrapper{
    margin: 0 auto;
}


#pokemon-name-search{
    width: 600px;
    margin-top: 2rem;
    padding: 1rem;
}

.pokemonlist-wrapper{
    
    margin: 2rem auto;
    
}

.pokemon-wrapper{
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    flex-basis: 20%;
    width: 300px;
    height: 400px;
}
.pokemon h3{
    letter-spacing: 2px;
}

.pokemon:hover{
    background-color:  beige;
    cursor: pointer;
}

.pokemon-img{
    height: 150;
    max-height: 80%;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button{
    padding: 1rem 2rem;
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .pokedex-wrapper {
        width: 0%;
        padding: 10px;
    }

    .pokedex-heading {
        font-size: 1.5rem;
        text-align: center;
    }

    .block {
        width: 100%;
        margin: 10px 0;
    }
}