.pokemon-detail-wrapper{
    margin: 2px auto;
    height: 80vh;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.pokemon-detail{
    display: flex;
    width: 55%;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

.pokemon-types-simillar-wrapper{
    height: 80vh;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.pokemon-types-simillar{
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    
}
/* to hide scroll bar with having benefit of scroll bar */
::-webkit-scrollbar {    
    display: none;

}
.pokemon-types-simillar-wrapper h2{
    position: sticky;
    font-size: 2rem;
    letter-spacing: 6px;
    text-align: center;
}
.pokemon-types-simillar p{
    font-size: 1.2rem;
    padding: 5px 0px;
    text-align: center;
    margin: 2px 20px;
}
.pokemon-types-simillar p:hover{
    background-color: gainsboro;
    cursor: pointer;
}

.pokemon-detail-name{
    font-size: xx-large;
    color: black;
    
}

.pokemon-detail-name > span{
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px 10px;
}

.pokemon-types{
    display: flex;
    margin-top: 0.5rem;
    font-size: larger;
}

.pokemon-types div{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
    cursor: pointer;
}

.pokemon-detail-image{
    margin-top: 5rem;
    width: 100%;
    max-height: 300px;
}

.loader{
        margin-top: 170px;
        background: url("../../assets/icons8-loading-circle.gif") no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 10px;
        min-width: 30%;
        height: 40%;
        width: 100%;
        z-index: 9999999;

}



.pokemon-actual-container{
    border: 2px solid gainsboro;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: azure;
    border-radius: 10%;
    cursor: pointer;
}
.types-name{
    z-index: 0; /* Ensure default z-index is set */
    font-weight: bold;
    letter-spacing: 2px;
}
.types-image{
    height: 200px;
    transition: transform 0.3s ease-in-out;
}

.types-image:hover{
    z-index: 10; /* Bring the image to the front on hover */
    transform: scale(1.4, 1.4);
}

