.pokemon-detail-wrapper{
    margin: 0px auto;
    height: 80vh;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}
.pokemon-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-types-simillar-wrapper{
    height: 80vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    
}

.pokemon-types-simillar{
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    
}
/* to hide scroll bar with having benefit of scroll bar */
::-webkit-scrollbar {    
    display: none;

}
.pokemon-types-simillar-wrapper h2{
    position: sticky;
    font-size: 2rem;
    letter-spacing: 6px;
    text-align: center;
}
.pokemon-types-simillar p{
    font-size: 1.2rem;
    padding: 5px 0px;
    text-align: center;
    margin: 2px 20px;
}
.pokemon-types-simillar p:hover{
    background-color: gainsboro;
    cursor: pointer;
}

.pokemon-detail-name{
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}

.pokemon-detail-name > span{
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px 10px;
}

.pokemon-types{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    font-size: larger;
}

.pokemon-types div{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
    cursor: pointer;
}

.pokemon-detail-image{
    margin-top: 5rem;
    max-height: 200px;
}

.loader{
        margin-top: 170px;
        background: url("../../assets/icons8-loading-circle.gif") no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        height: 40%;
        width: 100%;
        z-index: 9999999;

}
